.map_controls { 
   position: absolute; 
   top: 25px; 
   right: 25px;
   background-color: #fafafb;
   box-shadow: 4px 0 10px rgba(0,0,0,0.25);
   border: 1px solid #b1a7bc; 
   border-radius: 5px; 
}

.map_controls span{
   border-right: 1px solid #e0dce4;
   font-size: 16px;
   padding: 4px 11px;
   display: inline-block;
}
.marker_close {
  /*background : darkgray;*/
  /* display: table; */
  height:30px;
  width:35px;
  text-align:center;
  border-radius:3px;
  cursor: pointer;
  z-index:-2;
     
}

.marker_close span {
  /* margin-top:-5px; */
/*display : table-cell;
vertical-align:middle;*/
  /*font-size:1.8em;*/
  line-height:34px;
  padding-right:3px;
  font-family: Century Gothic, sans-serif;
  color:#32253f;
  opacity:1;
}

.polygon_help {
   
   width: 350px;
   margin: 20px auto 0;
   margin-left:50%;

   background: white;
   padding: 15px;
   border-radius: 10px;
   text-align: justify;
}

.polygon_help ul {
  list-style-type: disc; 
   list-style-position: inside; 
}

.polygon_help label {
display: inline-block;
padding-left: 15px;
text-indent: -15px;
}
.polygon_help input {
width: 13px;
height: 13px;
padding: 0;
margin:0;
vertical-align: bottom;
position: relative;
top: -1px;
*overflow: hidden;
}

@media (max-width:700px){
   .map_controls { 
      top: 15px; 
      right: 15px;
   }
   .map_controls span{
      border-right: none;
      border-top: 1px solid #e0dce4;
      display: block;
   }

}