RewriteEngine On

RewriteCond %{REQUEST_URI} ^/thredds.*
#RewriteRule thredds(.*) http://192.171.164.242:8080/thredds$1 [P]
RewriteRule thredds(.*) https://vortices.npm.ac.uk/thredds$1 [P]

RewriteCond %{REQUEST_URI} ^/plotting/.*
RewriteRule plotting/(.*) http://localhost:8110/$1 [P]

